PAA/processo_seletivo/app
PAA/processo_seletivo/testdata/*
PAA/processo_seletivo/Makefile
PAA/entre_nos/testdata/*
PAA/entre_nos/Makefile
PAA/bau_felicidade/Makefile
PAA/bau_felicidade/testdata/*
PAA/bau_felicidade/app
ICA/accoustic_wave/wavefield/wavefield.txt
ICA/accoustic_wave/wave_seq
.gitignore
wavefield_expected.png
ICA/accoustic_wave/plot.py
ICA/accoustic_wave/wave_cuda
wavefield_expected1.png
.gitignore
