#ICA
ICA/accoustic_wave/wavefield/
ICA/accoustic_wave/wave_seq
ICA/accoustic_wave/wave_cuda
ICA/accoustic_wave/plots/
ICA/accoustic_wave/terminal_output/
#PAA
PAA/processo_seletivo/app
PAA/processo_seletivo/testdata/*
PAA/processo_seletivo/Makefile
PAA/entre_nos/testdata/*
PAA/entre_nos/Makefile
PAA/bau_felicidade/Makefile
PAA/bau_felicidade/testdata/*
PAA/bau_felicidade/app

